[build]
  builder = "dockerfile"
  dockerfile = "Dockerfile.buildpacks"

[deploy]
  healthcheckPath = "/healthz"
  healthcheckTimeout = 300
  restartDelay = 5
  restartMaxRetries = 5
  restartTimeout = 180

[variables]
  SPRING_PROFILES_ACTIVE = "prod"
  JAVA_OPTS = "-Xmx512m -Xms256m"
  PORT = "8080"
  
  # Konfigirasyon bazdone
  SPRING_DATASOURCE_URL = "jdbc:postgresql://shinkansen.proxy.rlwy.net:53264/database-c?sslmode=require"
  SPRING_DATASOURCE_USERNAME = "postgres"
  SPRING_DATASOURCE_PASSWORD = "LOxSxtZTHciQdGLpPgKKflQfmNlXVFRh"
  
  # Konfigirasyon Actuator
  MANAGEMENT_ENDPOINT_HEALTH_SHOW_DETAILS = "always"
  MANAGEMENT_ENDPOINTS_WEB_EXPOSURE_INCLUDE = "health,info,metrics"
  MANAGEMENT_ENDPOINT_HEALTH_PROBES_ENABLED = "true"
  SPRING_JPA_HIBERNATE_DDL_AUTO = "update"
  
  # Konfigirasyon HikariCP
  SPRING_DATASOURCE_HIKARI_CONNECTION_TIMEOUT = "20000"
  SPRING_DATASOURCE_HIKARI_MAXIMUM_POOL_SIZE = "10"
  SPRING_DATASOURCE_HIKARI_MINIMUM_IDLE = "5"
  SPRING_DATASOURCE_HIKARI_IDLE_TIMEOUT = "30000"
  SPRING_DATASOURCE_HIKARI_MAX_LIFETIME = "2000000"
  SPRING_DATASOURCE_HIKARI_LEAK_DETECTION_THRESHOLD = "5000"
