[build]
  builder = "dockerfile"
  dockerfile = "Dockerfile"

[deploy]
  startCommand = "java -Dspring.profiles.active=prod -jar app.jar"
  healthcheckPath = "/actuator/health"
  healthcheckTimeout = 100
  restartDelay = 5
  restartMaxRetries = 5
  restartTimeout = 180

[variables]
  SPRING_PROFILES_ACTIVE = "prod"
  JAVA_OPTS = "-Xmx512m -Xms256m"
  PORT = "8080"
  
  # Konfigirasyon bazdone (ou ka ajoute yo pita nan dashboard Railway a)
  # SPRING_DATASOURCE_URL = "jdbc:postgresql://host:port/database"
  # SPRING_DATASOURCE_USERNAME = "username"
  # SPRING_DATASOURCE_PASSWORD = "password"
  # SPRING_JPA_HIBERNATE_DDL-AUTO = "update"
  JDBC_DATABASE_URL = "jdbc:postgresql://shinkansen.proxy.rlwy.net:53264/database-c?sslmode=require"
  DB_USERNAME = "postgres"
  DB_PASSWORD = "LOxSxtZTHciQdGLpPgKKflQfmNlXVFRh"
  
  # HikariCP Configuration
  SPRING_DATASOURCE_HIKARI_CONNECTION_TIMEOUT = "20000"
  SPRING_DATASOURCE_HIKARI_MAXIMUM_POOL_SIZE = "10"
  SPRING_DATASOURCE_HIKARI_MINIMUM_IDLE = "5"
  SPRING_DATASOURCE_HIKARI_IDLE_TIMEOUT = "30000"
  SPRING_DATASOURCE_HIKARI_MAX_LIFETIME = "2000000"
  SPRING_DATASOURCE_HIKARI_LEAK_DETECTION_THRESHOLD = "5000"
